<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
  <div class="container">
    <a class="navbar-brand mr-lg-5" [routerLink]="['/home']">
      <img src="./assets/img/brand/moto.jpg">
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a [routerLink]="['/map']">
              <img src="./assets/img/brand/moto.jpg">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
                  [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
        <li class="nav-item dropdown">
            <i class="ni ni-cart d-lg-none"></i>
            <span style="margin-left: 10px">Minhas Compras OLX</span>
        </li>
        <span class="clearfix" style="margin-top: 10px"></span>
        <li class="nav-item" style="display: flex" (click)="checkbox?.click()">
          <label class="custom-toggle" #checkbox>
            <input type="checkbox" checked>
            <span class="custom-toggle-slider rounded-circle"></span>
          </label>
          <span style="margin-left: 10px;">Quero entregar!</span>
        </li>
      </ul>
    </div>
  </div>
</nav>
